.residentCard{
    color: rgb(184, 182, 182);
    background: black;
    width: 100%;
    max-width: 340px;
}
.residentInfo{
    padding: 10px;
}
.residenImg{
    position: relative;
}
.residenImg > img{
    width: 100%;
}
.residenStatus{
    position: absolute;
    width: 40%;
    height: 25px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

@media screen and (min-width: 600px){
    .residentCard{
        max-width: 240px;
        height: 360px;
    }
}
