.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.locationInfo{
    width: 100%;
    display: grid;
    grid-template-rows: repeat( 3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background: rgba(0, 0, 0, 0.664);
    color: rgb(184, 182, 182);
    max-width: 340px;
}
.locationTitle{
    grid-column: span 2;
    text-align: center;
}
.dimension{
    grid-column: span 2;
}
.locationInfo > p{
    text-align: center;
}
.ListResidents{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 600px){
    .locationInfo{
        max-width: unset;
    }
}