.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.locationInfo{
    width: 100%;
    padding: 15px 0;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat( 3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background: rgba(0, 0, 0, 0.664);
    color: rgb(184, 182, 182);
}
.locationTitle{
    grid-column: span 2;
    text-align: center;
    color: #8EFF8B;
    font-size: 1.5rem;
}
.dimension{
    grid-column: span 2;
}
.locationInfo > p{
    text-align: center;
}
.ListResidents{
    gap: 20px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    width: 100%;
}
.pagesContainer{
    display: flex;
    gap: 15px;
}
.pagesContainer > button {
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    font-size: 1.2rem;
}
.pagesContainer > button:hover{
    color: white;
}
.noResidents{
    background-image: url(/bg/bg2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: rgb(184, 182, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerMesh{
    background: rgba(44, 44, 44, 0.826);
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.containerMesh h3 > span{
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
}

