.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
  width: 100%;
}
.titleContainer{
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.titleContainer > img{
  max-width: 100%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  padding: 10px;
  gap: 20px;
  overflow: hidden;
}
.searh{
  width: 100%;
  text-align: center;
  gap: 20px;
  margin: 15px 0;
  backdrop-filter: blur(3px);
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  position: relative;
  z-index: 100;
}
.inputDimension{
  border: none;
  outline: none;
  background: none;
  padding: 12px 15px;
  color: rgb(230, 230, 230);
  box-shadow:  -5px 5px 10px 1px rgb(87, 87, 87);
}
.inputDimension::placeholder{
  color: rgb(230, 230, 230);
}
.searh > button {
  max-width: 90px;
  margin: auto;
  border: none;
  padding: 8px;
  background: rgb(0, 0, 0);
  color: rgb(184, 182, 182);
  border-radius: 5px;
  cursor: pointer;
}
.searh > label {
  padding: 15px 2px;
  text-align: center;
  color: rgb(230, 230, 230);
}

.load{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: load 0.5s linear infinite;
  border-right: 15px solid rgb(49, 49, 49);
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  position: relative;
}
@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.listInputContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(37, 37, 37);
  grid-row-start: 3;
  width: 100%;
  transform: translateY(-20px);
  overflow-y: auto;
  max-height: 400px;
}
.listInput{
  cursor: pointer;
  color: rgb(243, 243, 243);
  background: rgb(37, 37, 37);
  border-bottom: 3px solid black;
  padding: 5px;
}
.listInput:hover{
  background: rgb(61, 61, 61);
}

@media (min-width: 540px){
  .searh{
    grid-template-columns: 1fr 70% 1fr;
  }
  .listInputContainer{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: translateY(0px);
  }
}