.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
  width: 100%;
}
header > iframe{
  width: 100%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
.searh{
  width: 100%;
  text-align: center;
  display: flex;
  gap: 20px;
}
.inputDimension{
  width: 80%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid black;
}